<!-- START FOOTER -->
<footer class="footer">
    <div class="links-page">
      <a href="">Articles </a>
      <a href="">Books</a>
      <a href="">Events</a>
      <a href="">Reasons</a>
      <a href="">Tips</a>
    </div>
    <div class="socials">
      <a href="">Twitter</a>
      <a href="">Instagram</a>
      <a href="">Mastodon.social </a>
    </div>
    <div class="small-print">
      <small>&copy; 2021</small>
      <small>we (heart-icon) components </small>
    </div>
  </footer>
  <!-- END FOOTER -->