<!-- START FOOTER -->
<footer class="footer">
    <div class="container links-page">
      <a class="link" target="_blank" href="https://adalab.es/">Articles </a>
      <a class="link" target="_blank" href="https://adalab.es/">Books</a>
      <a class="link" target="_blank" href="https://adalab.es/">Events</a>
      <a class="link" target="_blank" href="https://adalab.es/">Reasons</a>
      <a class="link" target="_blank" href="https://adalab.es/">Tips</a>
    </div>
    <div class="container socials">
      <a class="link" target="_blank" href="https://adalab.es/">Twitter</a>
      <a class="link" target="_blank" href="https://adalab.es/">Instagram</a>
      <a class="link" target="_blank" href="https://adalab.es/">Mastodon.social </a>
    </div>
    <div class="container small-print copyright">
      <small>&copy; 2021</small>
    </div>
    <div class="container small-print motto">   
      <small>we (heart-icon) components </small>
    </div>
  </footer>
  <!-- END FOOTER -->