<!-- START FOOTER -->
<footer class="footer">
    <nav >
      <ul class="container links">
        <li><a class="link" target="_blank" href="https://adalab.es/">Articles </a></li>
        <li><a class="link" target="_blank" href="https://adalab.es/">Books</a></li>
        <li><a class="link" target="_blank" href="https://adalab.es/">Events</a></li>
        <li><a class="link" target="_blank" href="https://adalab.es/">Reasons</a></li>
        <li><a class="link" target="_blank" href="https://adalab.es/">Tips</a></li>
      </ul>
    </nav>
    <nav >
      <ul class="container socials">
        <li><a class="link" target="_blank" href="https://adalab.es/">Twitter</a></li>
        <li><a class="link" target="_blank" href="https://adalab.es/">Instagram</a></li>
        <li><a class="link" target="_blank" href="https://adalab.es/">Mastodon.social </a></li>
      </ul>
    </nav>
    <div class="container small-print-container">
      <div class="small-print copyright">
        <small>&copy; 2021</small>
      </div>
      <div class="small-print motto">
        <small>we <i class="heart fas fa-heart"></i> components </small>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->