  <!-- START HERO -->
  <section class="hero">
    <div class="title-container">
      <h1 class="title">Anonymous Proxy</h1>
    </div>
    <div class="subtitle-container">
      <p class="subtitle">in hac habitasse platea dictumst.</p>
    </div>
    <div class="round-button">
      <a  href="./index.html#reasons-to-purchase">
        <img title="3 Reasons to purchase" src="./assets/images/ico-scroll-down.svg" alt="arrow pointing down">
        <!-- insert arrow down button -->
      </img></a>
    </div>
  </section>

  <!-- END HERO -->