  <!-- START HERO -->
  <section id="home" class="hero">   
    <div class="title-container">
      <h1 class="title">Anonymous Proxy</h1>
    </div>
    <div class="subtitle-container">
      <h2 class="subtitle">in hac habitasse platea dictumst.</h2>
    </div>

    <a class="round-button" href="./index.html#reasons-to-purchase">
      <img title="3 Reasons to purchase" src="./assets/images/ico-scroll-down.svg" alt="arrow pointing down">
    </img></a>


  </section>

  <!-- END HERO -->