<!-- START REASONS TO PURCHASE -->
<section class="reasons-purchase">
    <div class="title-container">
      <h3 id="reasons-to-purchase" class="title">3 reasons to purchase</h3>
    </div>

    <include src="./reason.html" 
    class="article1"
    title="Ut sed metus" 
    description="Lorem ipsum dolor sit amet, consectetur.">
  </include>

    <include src="./reason.html" 
    class="article2"
    title="Curabitur ac erat" 
    description="Mauris mattis urna quis lorem molestie.">
  </include>

    <include src="./reason.html" 
    class="article3"
    title="Morbi dictumst" 
    description="Aliquam in dolor et dolor tincidunt."></include>
    
    <a class="button" href="">More reasons</a>
    <a class="round-button" href=""><img src="" alt="">
      <!-- insert arrow up button -->
    </img></a>
</section>
  <!-- END REASONS TO PURCHASE -->