<!-- START REASONS TO PURCHASE -->
<section class="reasons-purchase">
    <h3>3 reasons to purchase</h3>

    <include src="./partials/reason.html" title="Ut sed metus" description="Lorem ipsum dolor sit amet, consectetur."></include>

    <include src="./partials/reason.html" title="Curabitur ac erat" description="Mauris mattis urna quis lorem molestie."></include>

    <include src="./partials/reason.html" title="Morbi dictumst" description="Aliquam in dolor et dolor tincidunt."></include>
    
    <!-- <div class="reason">
      <h4>Ut sed metus</h4>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </div> -->
    
    <!-- <div class="reason">
      <h4>Curabitur ac erat</h4>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </div> -->
    
    <!-- <div class="reason">
      <h4>Morbi dictumst</h4>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </div> -->
    
    <a class="button" href="">More reasons</a>
    <a class="round-button" href=""><img src="" alt=""><!-- insert arrow up button --></img></a>
  </section>
  <!-- END REASONS TO PURCHASE -->