<!-- START REASONS TO PURCHASE -->
<section class="reasons-purchase">
    <div class="title-container">
      <h2 id="reasons-to-purchase" class="title">3 reasons to purchase</h2>
    </div>

    <div class="container">
      <include src="./reason.html"
      class="article1"
      title="Ut sed metus"
      description="Lorem ipsum dolor sit amet, consecteur.">
        </include>
      <include src="./reason.html"
      class="article2"
      title="Curabitur ac erat"
      description="Mauris mattis urna quis lorem molestie.">
        </include>
      <include src="./reason.html"
      class="article3"
      title="Morbi dictum"
      description="Aliquam in dolor et dolor tincidunt.">
        </include>
    </div>
    
    <a class="button" title="Adalab homepage" target="_blank" href="https://adalab.es/">More reasons</a>

    <div class="round-button-container">
      <a class="round-button"  href="./index.html#home">
        <img src="./assets/images/ico-arrow.svg" alt="icon arrow pointing up"></img>
      </a>
    </div>

</section>

  <!-- END REASONS TO PURCHASE -->
