  <!-- START INSOMNIA TIPS -->
  <section class="tips">
    <h2 class="small-title">Imnsomnia tips</h2>
    <div class="title-container">
      <h3 class="main-title">Looking through a window</h3>
    </div>
    
    <div class="container">
      <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem maxime voluptates ea ullam velit quasi nostrum aut, quas quaerat enim exercitationem, neque minima doloremque assumenda facilis necessitatibus dicta id!</p>
    </div>
    
    <a class="button" href="">Go </a>
  </section>
  <!-- END INSOMNIA TIPS -->