  <!-- START INSOMNIA TIPS -->
  <section class="tips">
    <small class="small-title">Imnsomnia tips</small>
    <div class="title-container">
      <h2 class="main-title">Looking through a window</h2>
    </div>
    
    <div class="container">
      <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem maxime voluptates ea ullam velit quasi nostrum aut, quas quaerat enim exercitationem, neque minima doloremque assumenda facilis necessitatibus dicta id!</p>
    </div>
    

    <a class="button" title="Adalab home page" href="https://adalab.es/" target="_blank">Go</a>
    
  </section>
  <!-- END INSOMNIA TIPS -->