// Fonts used:
$title-font: "Roboto Slab", serif;
$texts-font: "Roboto", sans-serif;

// Page colors used:
$bright-orange: #f26002;
$dark-grey-blue: #304268;
$cerulean-blue: #0271bc;
$white: #ffffff;
$lightblue: #8ccbea;
$black: #000000;
$greyish-brown: #4a4a4a;
$ice-blue: #eff9ff;
