.footer {
  height: 465px;
  background-color: $dark-grey-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .links-page {
    margin-top: 60px;
  }
  .link {
    color: $white;
    text-decoration: none;
    font-family: $texts-font;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
  }
  .small-print {
    color: $white;
    font-family: $texts-font;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .motto {
    margin-bottom: 45px;
  }
  .heart {
    color: $bright-orange;
    font-size: 14px;
  }
}
