.footer {
  background-color: $dark-grey-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media all and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
  @media all and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .links {
    margin-top: 60px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    @media all and (min-width: 768px) {
      margin-bottom: 45px;
      margin-top: 45px;
      width: 210px;
      align-items: flex-start;
    }
    @media all and (min-width: 1200px) {
      margin-top: 45px;
      margin-bottom: 45px;
      width: 210px;
      align-items: flex-start;
    }
  }

  .link {
    color: $white;
    text-decoration: none;
    font-family: $texts-font;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
  }
  .small-print {
    color: $white;
    font-family: $texts-font;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .small-print-container {
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      // order: -1;
    }
  }
  .heart {
    color: $bright-orange;
    font-size: 14px;
  }
}
