.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;

  .title-container {
    margin: 0 15px;
    margin-top: 284px;
  }

  .title {
    text-align: center;
    font-family: $title-font;
    font-size: 42px;
    word-spacing: 100vw;
    line-height: 55px;
    text-transform: uppercase;
    color: $white;
  }
  .subtitle-container {
    margin: 0 15px;
    margin-top: 10px;
  }
  .subtitle {
    font-family: $texts-font;
    color: $white;
  }
}
.round-button {
  background-color: $white;
  height: 45px;
  width: 45px;
  margin-top: 45px;
  margin-left: 137px;
  margin-bottom: 53px;
  margin-right: 138px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
}
