.reason {
  // background-color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .reason-title-container {
    margin-top: 0px;
    @media all and (min-width: 768px) {
      margin-bottom: 14px;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 14px;
    }
    .reason-title {
      font-family: $title-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      @media all and (min-width: 768px) {
        font-size: 24px;
      }
      @media all and (min-width: 1200px) {
        font-size: 24px;
      }
    }
  }
  .description-container {
    margin: 0 70px;
    margin-bottom: 20px;
    // background-color: crimson;
    text-align: center;
    @media all and (min-width: 768px) {
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 60px;
    }
    @media all and (min-width: 1200px) {
      margin-right: 0px;
      margin-left: 0px;
      max-width: 353.8px;
      margin-bottom: 60px;
    }
    .description {
      font-family: $texts-font;
      font-size: 18px;
      line-height: 30px;
      @media all and (min-width: 768px) {
        font-size: 20px;
      }
      @media all and (min-width: 1200px) {
        font-size: 20px;
      }
    }
  }
}
