.reasons-purchase {
  background-color: $ice-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title-container {
    margin-top: 30px;
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      margin-top: 30px;
    }
    @media all and (min-width: 1200px) {
      margin-top: 60px;
    }
  }
  .title {
    font-family: $title-font;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    @media all and (min-width: 768px) {
      font-size: 26px;
      line-height: 45px;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
      line-height: 45px;
    }
  }
  .container {
    // background-color: lightcoral;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas: "article1" "article2" "article3";
    align-items: start;
    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "article1" "article2" "article3";
      padding-left: 35.7px;
      padding-right: 40px;
      column-gap: 27.7px;
    }
    @media all and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "article1" "article2" "article3";
      padding-left: 81.2px;
      padding-right: 85px;
      column-gap: 26.2px;
    }
  }
  .article1 {
    grid-area: "article1";
  }
  .article2 {
    grid-area: "article2";
  }
  .article3 {
    grid-area: "article3";
  }

  .button {
    margin-bottom: 22.5px;
    background-color: $bright-orange;
    color: $white;
    text-align: center;
    text-decoration: none;
    font-family: $texts-font;
    font-weight: 400;
    font-size: 20px;
    height: 45px;
    width: 184px;
    border-radius: 22.5px;
    line-height: 41px;
    display: inline-block;
    transition: color ease 1s, background-color ease 1s, box-shadow ease 1s;
    &:hover {
      background: $lightblue;
      color: $dark-grey-blue;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    @media all and (min-width: 768px) {
      width: 210px;
    }
    @media all and (min-width: 1200px) {
      width: 255px;
    }
  }
  .round-button-container {
    transform: translateY(22.5px);
  }
  .round-button {
    background-color: $white;
    height: 45px;
    width: 45px;
    line-height: 57px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      animation-name: spin;
      animation-duration: 0.8s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
