.tips {
  background-color: $white;
  .small-title {
    font-family: $texts-font;
    font-size: 14px;
    line-height: 30px;
    color: $lightblue;
    margin-top: 30px;
    margin-left: 15px;
    display: inline-block;
  }
  .title-container {
    margin: 0 15px;
    margin-bottom: 15px;
    .main-title {
      font-family: $title-font;
      font-size: 24px;
      line-height: 30px;
      color: $black;
    }
  }

  .container {
    margin: 0 15px;
    margin-bottom: 30px;
    .paragraph {
      font-family: $texts-font;
      font-size: 18px;
      line-height: 30px;
      color: $greyish-brown;
    }
  }

  .button {
    background-color: $white;
    border: 2px solid $bright-orange;
    height: 45px;
    width: 76px;
    margin-left: 15px;
    margin-bottom: 45px;
    border-radius: 45px;
    line-height: 45px;
    text-align: center;

    a {
      text-decoration: none;
      font-family: $texts-font;
      font-weight: 500;
      font-size: 20px;
      color: $bright-orange;
    }
  }
}
